<section
  class="px-[3rem] md:px-[10rem] text-justify bg-background py-[2rem] md:py-[4rem]"
>
  <h5 class="uppercase font-bold text-[2rem] text-white">sobre nós</h5>
  <p class="text-white font-medium">
    Temos uma equipe especializada em Direito médico. Atuamos
    administrativamente e judicialmente em todas as áreas de direito de saúde em
    especial para pessoas que se encontram no espectro autista. Ainda
    trabalhamos em casos em que ocorrem a negativa de plano de saúde para
    tratamento quimioterápico, internação em UTI dentre outros procedimentos.
    Além disso, temos uma equipe que atua processos judiciais de
    responsabilidade civil de erro médico, danos estéticos, danos morais e
    materiais. Atuamos de forma ágil, sempre no intuito de solucionar as
    questões de saúde dos nossos clientes. Inclusive realizamos atendimento
    inteiramente remoto conforme a necessidade e conveniência do cliente. Nosso
    escritório preza pela excelência no atendimento ao cliente de forma
    humanizada e individualizada. Temos como diferencial, além de amplo
    conhecimento do direito da saúde, o amparo ao cliente desde o primeiro
    contato até a solução de seu problema. A sócia titular do escritório Dra.
    Juliana Cabral, além de ter anos de experiência na área, é especialista de
    direito de Saúde e membro da Comissão de Direito de Saúde da OAB-PE.
  </p>
</section>
