<section
  class="flex flex-col md:flex-row items-center justify-center gap-[2rem] my-[4rem] md:px-[10rem] px-[3rem]"
>
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold mb-6 text-center">Área de Atuação</h2>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-8"
    >
      <!-- Área 1 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/01.jfif" alt="" />
        <h3 class="text-xl font-semibold mb-4">PLANO DE SAÚDE</h3>
        <p class="text-gray-700">
          Problemas relacionados ao plano de Saúde? Nós podemos resolver.
        </p>
      </div>

      <!-- Área 2 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/02.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">AUTISMO</h3>
        <p class="text-gray-700">
          A terapia ou qualquer outro tratamento recomendado ao seu ente querido
          com autismo foi negado?Temos experiência na resolução destes
          problemas.
        </p>
      </div>

      <!-- Área 3 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/03.jpeg" alt="" />
        <h3 class="text-xl font-semibold mb-4">CIRURGIA BARIÁTRICA:</h3>
        <p class="text-gray-700">
          Problemas relacionados a cirurgia bariátrica? Nós podemos lhe ajudar.
        </p>
      </div>

      <!-- Área 4 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/04.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">CIRURGIA REPARADORA:</h3>
        <p class="text-gray-700">
          Problemas relacionados a cirurgia reparadora? Temos experiência na
          resolução destes problemas.
        </p>
      </div>

      <!-- Área 5 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/05.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">MEDICAMENTO DE ALTO CUSTO:</h3>
        <p class="text-gray-700">
          Não conseguiu obter seu medicamento de alto custo? Nossa equipe está
          preparada para resolver a situação, seja na esfera administrativa ou
          judicial.
        </p>
      </div>

      <!-- Área 6 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/06.jpg" alt=" " />
        <h3 class="text-xl font-semibold mb-4">HOME CARE:</h3>
        <p class="text-gray-700">
          Problemas para custeio de tratamento home care? Podemos lhe ajudar
        </p>
      </div>

      <!-- Área 7 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg h-[9rem]" src="/07.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">AÇÕES CONTRA O SUS:</h3>
        <p class="text-gray-700">
          Precisa entrar com uma ação contra o SUS? Nós podemos ajudar.
        </p>
      </div>
    </div>
  </div>
</section>
