<section
  class="flex flex-col md:flex-row items-center justify-center gap-[2rem] md:px-[10rem] px-[3rem]"
>
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold mb-6 text-white text-center uppercase">
      Áreas de Atuação
    </h2>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-8"
    >
      <!-- Área 1 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/02.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">PLANO DE SAÚDE</h3>
        <p class="text-gray-700">
          Problemas relacionados ao plano de Saúde? Nós podemos resolver.
        </p>
      </div>

      <!-- Área 2 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/03.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">AUTISMO</h3>
        <p class="text-gray-700">
          A terapia ou qualquer outro tratamento recomendado ao seu ente querido
          com autismo foi negado?Temos experiência na resolução destes
          problemas.
        </p>
      </div>

      <!-- Área 3 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/05.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">TRATAMENTO FISIOTERÁPICO</h3>
        <p class="text-gray-700">
          O tratamento fisioterápico é essencial para recuperar a funcionalidade
          e aliviar a dor, utilizando técnicas personalizadas. Fisioterapeutas
          desempenham um papel vital na promoção da saúde física e na prevenção
          de complicações futuras.
        </p>
      </div>

      <!-- Área 4 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/07.jpg" alt="" />
        <h3 class="text-xl font-semibold mb-4">INTERNAÇÃO EM UTI</h3>
        <p class="text-gray-700">
          A UTI é crucial para casos graves, oferecendo cuidados intensivos e
          monitoramento avançado. Com uma equipe multidisciplinar, busca
          estabilizar pacientes para uma recuperação segura, desempenhando papel
          vital no cuidado médico.
        </p>
      </div>
      <!-- Área 5 -->

      <!-- Área 6 -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img class="rounded-lg" src="/04.jpg" alt=" " />
        <h3 class="text-xl font-semibold mb-4">HOME CARE:</h3>
        <p class="text-gray-700">
          Problemas para custeio de tratamento home care? Podemos lhe ajudar
        </p>
      </div>

      <!-- Área 7 -->
    </div>
  </div>
</section>
