<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href=""
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img class="w-[6rem]" src="/logo.png" alt="" />
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Início</a>
        </li>
        <li>
          <a
            href="https://wa.me/5581987661667"
            target="_blank"
            class="hover:underline me-4 md:me-6">Fale conosco</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
        </li>
        <li>
          <a
            href="https://wa.me/5581987661667"
            target="_blank"
            class="hover:underline">Contato</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023 Cabral Associados™. Todos os direitos resevados.</span
    >
  </div>
</footer>
