<div class="relative h-screen">
  <div
    class="bg-hero-bg h-screen bg-no-repeat bg-cover bg-center flex flex-col items-center justify-center"
  >
    <!-- Conteúdo aqui -->
    <h1
      class="text-center text-[2.2rem] md:text-[4rem] font-bold text-white z-50"
    >
      Advocacia Especializada
    </h1>
    <h2 class="text-center text-[1.5rem] font-medium text-white z-50">
      em saúde e direito médico das crianças com autismo
    </h2>
    <a class="z-50" href="http://" target="_blank" rel="noopener noreferrer">
      <button
        class="bg-primary_button hover:bg-blue-700 text-white uppercase font-bold text-[1rem] py-3 px-4 mt-[2rem] rounded max-w-[30rem] duration-700"
      >
        Fale conosco
      </button></a
    >
  </div>
  <div class="absolute inset-0 h-screen bg-opacity-50 bg-backdrop"></div>
</div>
