<div id="inicio" class="relative h-auto">
  <!-- Backdrop vermelho com opacidade de 50% -->
  <div class="absolute inset-0 bg-backdrop bg-opacity-50"></div>

  <div
    class="bg-hero-bg bg-center bg-cover flex flex-col items-center justify-center py-[12rem] mb-[-10rem]"
  >
    <!-- Conteúdo aqui -->
    <h1
      class="text-center text-[2.2rem] md:text-[4rem] font-bold text-white z-50 px-[2rem]"
    >
      Advocacia Especializada
    </h1>
    <h2 class="text-center text-[1.5rem] font-medium text-white z-50 px-[2rem]">
      em saúde e direito médico das crianças com autismo
    </h2>
    <a
      class="z-50"
      href="https://wa.me/5581987661667"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        id="whatsapp"
        class="bg-primary_button hover:bg-blue-700 text-white uppercase font-bold text-[1rem] py-3 px-4 mt-[2rem] rounded max-w-[30rem] duration-700"
      >
        Fale conosco
      </button>
    </a>
  </div>
</div>
