<section class="flex items-center justify-center py-[5rem] px-[2rem]">
  <a
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-[70rem] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    href="http://"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="/img2.webp"
      alt=""
    />
    <a
      href="https://wa.me/5581987661667"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="flex flex-col justify-between p-4 leading-normal">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Negativa de Terapia para Tratamento do Autismo pelo Plano de Saúde.<br
          />
          <span class="font-bold">Saiba Como Conseguir o Tratamento.</span>
        </p>
      </div></a
    >
  </a>
</section>
